@model project5.Models.Watche

@{
    ViewBag.Title = "Details";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Watche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brands.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brands.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variations.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variations.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WatchesBrandUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WatchesBrandUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
